/* Loaded Font-familys: Muli 300, 700, 900: Lato 400, 400 Italic */
/* General */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(157, 55%, 69%);
}

h2 {
  margin-bottom: 10px;
  color: white;
  text-shadow: 3px 2px 0 hsl(172, 47%, 40%);
  font-family: "Muli", sans-serif;
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 1px;
}

/* Styling of h3 as title for cards */
h3 {
  font-family: "Lato", sans-serif;
  font-style: italic;
  color: white;
  text-shadow: 3px 2px 1px hsl(172, 47%, 40%);
  margin-bottom: 5px;
  font-size: 12px;
}

@media screen and (min-width: 720px) {
h3 {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 20px;
  margin-left: 40px;
  line-height: 1.4;
}

em {
  font-family: "Lato", sans-serif;
  font-style: italic;
}

ul,
ol {
  color: white;
  padding: 10px 10%;
}

li {
  padding-bottom: 5px;
  letter-spacing: 1px;
  font-size: 18px;
  list-style: disc;
}

/* Section Rules */
.section {
  width: 80%;
  margin: 40px auto;
  padding: 20px 40px 40px 40px;
  background-color: hsl(24, 70%, 65%);
  box-shadow: 20px 25px 0 hsla(172, 47%, 40%, 90%);
}

/* Will organize .card items inside of .card-box container */
.card-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  width: 90%;
}

/* Class card will create a responsive box with a shadow */
.card {
  box-shadow: 10px 15px 0px hsla(172, 47%, 40%, 80%);
  height: 150px;
  width: 150px;
  margin: 10px 10px;
  padding: 5px;
  background-color: hsl(341, 31%, 66%);
  /* display: flex */
  border: 2px solid hsl(172, 47%, 40%);
}

@media screen and (min-width: 720px) {
  .card:hover {
    height: 300px;
  }

  .card:hover p {
    font-size: 30px;
  }

  .card:hover h3 {
    font-size: 30px;
  }

  .card {
    height: 200px;
    width: 28%;
    margin: 10px 2%;
    padding: 10px;
  }
}

/* Styling paragraphs inside of cards */
.card p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

@media screen and (min-width: 720px) {
  .card p {
    font-size: 20px;
  }
}

/* Header section */
header {
  width: 100%;
  padding: 10px;
  background-color: hsl(13, 80%, 63%);
  border-bottom: 4px solid white;
  box-shadow: 10px 10px 2px hsla(172, 47%, 40%, 90%);
  /* position: fixed;
  top: 0;
  z-index: 10; */
}

h1 {
  font-family: "Muli", sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: white;
  text-shadow: 3px 2px 1px hsl(172, 47%, 40%);
  letter-spacing: 2px;
}

nav ul {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul li {
  margin-left: 20px;
  list-style: none;
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 25px;
  text-shadow: 2px 1px 1px hsl(172, 47%, 40%);
  letter-spacing: 1px;
  padding: 5px;
}

nav ul li:hover {
  box-shadow: 2px 2px 2px  2px hsl(172, 47%, 40%);
  text-shadow: 4px 2px 1px hsl(172, 47%, 40%);
}

nav ul li:active {
  box-shadow: 2px 2px 2px  2px hsl(341, 31%, 66%);
  text-shadow: 4px 2px 1px hsl(341, 31%, 66%);
}

/* Colors Section */

.pastelBlue {
  background-color: hsl(157, 55%, 69%);
}

.fireRed {
  background-color: hsl(13, 80%, 63%);
}

.plum {
  background-color: hsl(341, 31%, 66%);
}

.terracotta {
  background-color: hsl(24, 70%, 65%);
}

.navy {
  background-color: hsl(172, 47%, 40%);
}

/* Fonts Section */
.muli-300-italic p {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.muli-600 p {
  font-family: "Muli", sans-serif;
  font-weight: 600;
}

.muli-900 p {
  font-family: "Muli", sans-serif;
  font-weight: 900;
}

.lato p {
  font-family: "lato", sans-serif;
  font-weight: 400;
}

.lato-italic p {
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

/* Text Styles section */
#pExample {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

/* Footer section */
footer {
  height: 90px;
  background-color: hsl(13, 80%, 63%);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer p,
footer p a {
  align-self: center;
  font-style: italic;
  color: hsla(360, 100%, 100%, 80%);
  text-shadow: 3px 2px 0 hsla(172, 47%, 40%, 20%);
  padding: 5px;
}

footer p a:hover {
  box-shadow: 2px 2px 2px  2px hsl(172, 47%, 40%);
  text-shadow: 4px 2px 1px hsl(172, 47%, 40%);
}

footer p a:active {
  box-shadow: 2px 2px 2px  2px hsl(341, 31%, 66%);
  text-shadow: 4px 2px 1px hsl(341, 31%, 66%);
}
